#container {
    display: grid;
    grid-template-columns: repeat(16, 25px [col-start]);
}

.grid-box {
    width: 20px;
    height: 20px;
    margin: 0.5px;
    border: 1px solid #252A34;
}

.grid-box:hover {
    background-color: #FF2E63;
    border-color: #291d1e;
}