:root {
    --grid-cols: 1;
    --grid-rows: 1;
    padding: 0px;
    margin: 0px;
}

html, body {
    margin: 0;
    padding: 0;
    background: #7D5a50;
    color: #FCDEC0;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
  }
  

  #header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 1rem;

  }


#sketch-container {
    display: grid;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
}

.grid-box {
    aspect-ratio: 1/1;
    border: 1px solid #252A34;
}

.grid-box:hover {
    background-color: #FF2E63;
    border-color: #291d1e;
}

#canvas {
    margin: 0 auto;
    max-width: 80vh;
    border: 5px solid #252A34;
    padding: 0.5em;
    background-color: white;
}

#new-sketch {
    padding: 8px 16px;
    color: white;
    background-color: #413232;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    display: inline;
}

